# Core
yfinance
finnhub-python
edgartools
pdfplumber
pydantic
requests
python-dotenv

# RAG / Embeddings
sentence-transformers
faiss-cpu  # or faiss-gpu for GPU support

# Agent
langgraph
streamlit
langchain_core
langchain_openai

